
.app-table {
    font-family: Source Han Sans GB, Helvetica;
    line-height: 2em;
    font-size: 14px;
}

.app-task {
    display: flex;
    padding: 0 10px;
    color: hsl(0, 0%, 60%);
    position: absolute;
    width: 100%;
    transition-duration: 300ms;
    height: 30px;
    line-height: 30px;
    transition-property: top;
    transition-timing-function: cubic-bezier(0.6, -0.01, 0.4, 0.93);
}

.app-task:hover {
    background: hsl(0, 0%, 94%);
    color: black;
}

.app-task > div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
}

.control {
    display: flex;
    margin-bottom: 20px;
}

.control .label {
    cursor: pointer;
    flex: 1;
}

.label.content, input.content {
    flex: 5;
}

.dataview {
    position: relative;
}
